doublecmd
!doublecmd/
*.o
*.ppu
*.compiled
*.lps
*.lrt
doublecmd.res
units/*
install/doublecmd.app
install/darwin/lib
install/darwin/release
*.bak
plugins/*/*/lib
plugins/*/*/src/*.res
plugins/wdx/*/*.wdx
plugins/wfx/*/*.wfx
components/*/lib
*.wcx
plugins/wcx/zip/zip.app/Contents/MacOS
libunrar.dylib
fpc.cfg
doublecmd.xml
history.xml
session.ini
shortcuts.scf
wfx.ini
doublecmd.err
plugins/wcx/cpio/cpio.app
plugins/wcx/deb/deb.app
plugins/wcx/rpm/rpm.app
plugins/wcx/unrar/unrar.app
plugins/wdx/rpm_wdx/rpm_wdx.app
