doublecmd
*.o
*.ppu
*.compiled
*.lps
doublecmd.res
units/i386-darwin-carbon
install/doublecmd.app
install/darwin/lib
install/darwin/release
*.bak
plugins/*/*/lib
plugins/*/*/src/*.res
plugins/wdx/*/*.wdx
plugins/wfx/*/*.wfx
components/*/lib
*.wcx
plugins/wcx/zip/zip.app/Contents/MacOS
libunrar.dylib
fpc.cfg
doublecmd.xml
history.xml
session.ini
shortcuts.scf
wfx.ini
